### Measure of Central Tendency

In [5]:
## Mean (Average)

age = [23,2,24,28,18,24,3,44,23,23,43,39]

In [6]:
import numpy as np

In [7]:
np.mean(age) #Average age

24.5

In [8]:
import seaborn as sns 
df = sns.load_dataset('tips')

In [10]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [11]:
##  Finding the mean of total bill

np.mean(df['total_bill'])

19.78594262295082

In [12]:
##Median 

age = [23,2,24,28,18,24,3,44,23,23,43,39]
np.median(age)

23.5

### Understaning the user of median with thee help of outliers

In [13]:
#mean

age = [23,2,24,28,18,24,3,44,23,23,43,39,400] #400 is outliar
np.mean(age)

53.38461538461539

In [14]:
##Median 

ge = [23,2,24,28,18,24,3,44,23,23,43,39,400] 
np.median(age)

24.0

In [16]:
from scipy import stats

In [17]:
stats.mode(age)

/tmp/ipykernel_77/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([23]), count=array([3]))